@charset "UTF-8";
/*Cores*/

#corA{
   background-color: #5e778d
}
#corAz{
   background-color:#d7dfe8
}
/*Geral*/
*{
   margin: 0px;
   padding: 0px;
}

body{
   font-family: "Apparat", sans-serif;
   background-image: linear-gradient(to top, #5e778d, #9BABBB, #d7dfe8) ;
}

/*Menu*/

header{
    background: #5e778d;
    justify-content: center;
    display: flex;
    width: 100%;
}

nav{
   width: 100%;
   margin: auto;
   background-color:#5e778d ;
   color: #d7dfe8;
   font-weight: 700;
   max-width: 900px;
   min-width: 320px;
   text-align: center;
   border-radius: 0px 0px 10px 10px;
}

a:hover{
   color: #5e778d;
   background-color: #d7dfe8;
   padding-left: 0.8em;
   padding-right: 0.8em;
}

a{
   color: #d7dfe8;
   text-decoration: none;
   padding: 0.5em;
   margin-right: 1px;
}

/*corpo*/

.Titulogeral{
   text-align: center;
   padding: 1em;
   font-size: 3vw;
}

main{
   margin: auto;
   min-width: 320px;
   max-width: 800px;
}

section > picture > img{
   margin: auto;
   display: block;
   width: 100%;
}
section{
   text-align:center;
   font-size: 2vw;
}

.margemT{
   margin-top: 2em;
}

.margemI{
   margin: 1em 0em 1em 0em;
}
/*Rodapé*/
footer{
   background-color: #5e778d;
   margin: auto 0px 0px 0px;
   font-weight: 700;
}
